@charset "UTF-8";

body{
    background-color: aquamarine;
    font-family:Arial, Helvetica, sans-serif;
   
    
}

h1{
    color: rgb(4, 112, 76);
}
h2{
    color: rgb(7, 66, 46);
}
.s{
    color:white;
    background-color: rgb(4, 131, 46); ;
    text-align: center;
}
.intermedio{
    color: orange;
}
.avancado{
    color: red;
}